* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
}

header {
    margin: auto;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: #0084FD;
}

.container-menu {
    display: flex;
    justify-content: space-around;
}

nav {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.menu-right li {
    padding-left: 8px;
    color: white
}

.bottone-get {

    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.container {
    display: flex;
    align-items: center;
}

.container-demo {
    max-width: 750px;
}

.get-a-demo {
    color: #0084FD;
    text-align: center;
}

.file {
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 100px;
    color:#0084FD
}

p{
    text-align: center;
}

.img-planning {
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.telefono {
    width: 40%;
    margin-left: 25%;
    margin-top: 12%;
}

.app {
    text-decoration: none;
    color: white;
    background-color: #0084FD;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 35%;
    margin-top: 4%;

}

.apple {
    padding-right: 5px;
}

.img-planning {
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.strategic {
    color: white;
    padding: 5%;
    text-align: center;
}
 
.scritte-planning {
    color: white;
    text-align: center;
}

.planning {
    background-color: #9792E4;
    min-height: 600px;
}

.sfondo-planning {
    text-align: center;
    background-color: white;
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 10%;
    min-height: 400px;
    width: 70%
}

.freccia {
    font-size: 30px;
    background-color: #9792E4;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    border-radius: 50%;
    margin-top: 5%;
}

.primo-container-bianco {

    min-height: 700px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: white;
}

.scritte {

    text-align: center;
}

.weare {
    color: #9792E4;
}

.rettangoli-lilla {
    margin-left: 22%;
    margin-top: 3%;
    min-height: 400px;
    width: 50%;
    background-color: #9792E4;
    border-radius: 60px;
}

.img-rettangoli {
    width: 50%;
    height:200px;
    border-radius: 50%;
    margin-left: 24%;
    margin-top: 5%;
    padding-bottom: 2%;
}

.virgolette {
    color: white;
    
}

.desc-rettangoli {
    color: white;
    text-align: center;
}

.primo-container-lilla {

    background-color: #9792E4;
    min-height: 800px;
    width: 90%;
    margin-top: 5%;
    margin: auto;
}

.benefit {
    color: white;
    text-align: center;
    padding-top: 3%;
}

.colonne {

    min-height: 370px;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.numeri {
    font-size: 40px;
color: #9792E4;
margin-left: 10%;
}

.sottotitoli {
 color: #9792E4;
 text-align: center;
 padding-bottom: 5%;
 margin-top: 2%;
}

.more {
    color: white;
    background-color: #9792E4;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 10%;

}

.secondo-container-bianco {
    
    background-color: red;
    min-height: 1000px;
    width: 100%;
}

.about-us {
    color: #9792E4;
    text-align: center;
    margin-top: 5%;
}

.scritte-about {
    margin-top: 5%;

}

.img-about {
    width: 25%;
    height: 250px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 5%;
    padding-bottom: 2%;
}

.help {
    font-size: 30px;
    color: #9792E4;
    margin-top: 2%;
    margin-left: 10%;
}

.terzo-container-lilla {
    padding-top: 10%;
    text-align: center;
    min-height: 500px;
    background-color: #9792E4;
    color: white;
}

.opacity {
    opacity: 30%;
}

.medio {
    font-size: xx-large;
}

.grande {
    font-size: 50px;
    color: #FDC15F;
}

.bottone {
    background-color: white;
    color: #9792E4;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

.nero {
    text-align: center;
    min-height: 300px;
    background-color: black;
}

.scritte-colorate {
    color: white;
    padding-top: 7%;
}


/* Mobile first */
@media screen and (min-width:468px) {

    .container {
        background-color: red;
        min-height: 100vh;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width:991px) {
    .container {
        background-color: rgb(255, 136, 0);
        width: 700px;

    }
}

/* Desktop */
@media screen and (min-width:992px) {
    .container {
        background-color: rgb(230, 208, 14);
        width: 900px;
    }
}

/*Desktop Big */
@media screen and (min-width:1200px) {
    .container {
        background-color: rgb(5, 236, 5);
        width: 1100px;
    }
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    padding-top: 5%;
}

.card {
    width: calc(33.3333% - 16px);
    margin: 8px;
    background-color: #B5DDFF;
}

.card-big {
    width: calc(66.6666% - 16px);
}